In [1]:
from pandas_datareader import data
import pandas as pd

In [2]:
stock_list = {"MAXIS-FTSE": 2559, "MAXIS-SP500": 2558, "MAXIS-NASDAQ100": 2631, "MAXIS-TOPIX": 1348, "新興国": 1681, "東証REIT": 1343, "世界REIT": 2515, "LMBA-GOLD": "GOLD11.SA" }
concat_list = []

In [3]:
for name, code in stock_list.items():
    try:
        int(code)
        df_raw = data.DataReader(f"{code}.T","yahoo", start="2020-07-01", end="2022-07-01")
    except:
        df_raw = data.DataReader(f"{code}","yahoo", start="2020-07-01", end="2022-07-01")
    df_close = df_raw["Close"]
    concat_list.append(df_close)

In [4]:
df_total = pd.concat(concat_list, axis=1)
df_total.columns = stock_list.keys()

In [5]:
df_corr = df_total.corr()
df_corr

,MAXIS-FTSE,MAXIS-SP500,MAXIS-NASDAQ100,MAXIS-TOPIX,新興国,東証REIT,世界REIT,LMBA-GOLD
MAXIS-FTSE,1.000000,0.988532,0.905445,0.879988,0.732830,0.832960,0.975068,-0.060031
MAXIS-SP500,0.988532,1.000000,0.867661,0.809969,0.628345,0.771066,0.992278,-0.078848
MAXIS-NASDAQ100,0.905445,0.867661,1.000000,0.458163,-0.029461,0.193213,0.819369,0.163267
MAXIS-TOPIX,0.879988,0.809969,0.458163,1.000000,0.909430,0.873403,0.769078,0.188502
新興国,0.732830,0.628345,-0.029461,0.909430,1.000000,0.820006,0.584649,0.126439
東証REIT,0.832960,0.771066,0.193213,0.873403,0.820006,1.000000,0.757534,-0.141401
世界REIT,0.975068,0.992278,0.819369,0.769078,0.584649,0.757534,1.000000,-0.141635
LMBA-GOLD,-0.060031,-0.078848,0.163267,0.188502,0.126439,-0.141401,-0.141635,1.000000

In [6]:
# df1 = data.DataReader("2559.T","yahoo", start="2008-07-01", end="2022-07-01") # FTSE
# df2 = data.DataReader("2558.T","yahoo", start="2008-07-01", end="2022-07-01") # SP500

In [7]:
# df1_close = df1["Close"]
# df2_close = df2["Close"]

In [8]:
# df = pd.concat([df1_close, df2_close], axis = 1)

In [9]:
# df.columns = ["FTSE", "SP500"]

In [10]:
# df

In [11]:
# df_corr = df.corr()

In [12]:
# df_corr

In [13]:
df_raw = data.DataReader("GOLD11.SA", "yahoo", start="2019-07-01", end="2022-07-01")
df_raw

             High    Low   Open  Close   Volume  Adj Close
Date
2021-03-08  10.55  10.30  10.35  10.46  1413897      10.46
2021-03-09  10.84  10.57  10.60  10.65   548309      10.65
2021-03-10  10.70  10.45  10.65  10.46   271734      10.46
2021-03-11  10.52  10.24  10.49  10.27  2354947      10.27
2021-03-12  10.31  10.16  10.25  10.27   339871      10.27
...           ...    ...    ...    ...      ...        ...
2022-06-27  10.27  10.06  10.27  10.15  1020364      10.15
2022-06-28  10.24  10.05  10.14  10.20   899798      10.20
2022-06-29  10.20  10.03  10.20  10.07   686943      10.07
2022-06-30  10.18   9.97  10.09  10.06   320423      10.06
2022-07-01  10.24   9.98  10.06  10.23   915236      10.23

[330 rows x 6 columns]